/**about block**/
.about_block{
    padding-top: 80px;
    padding-bottom: 80px;
    overflow: inherit!important;
}

.about_con .left_side{
    width: 50%;
    position: sticky;
    top: 124px;
    padding-right: 78px;
}

.about_con .right_side{
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 18px;
}

.about_con {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    position: relative;
}

.about_img{
    width: 100%;
}

/**facilities block**/
.facilities_block{
    padding-top: 80px;
    padding-bottom: 80px;
}

.title_con{
    text-align: center;
}

.facilities_con_grid{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 0px;
}

.facilities_con_card{
    border-top: 1px solid rgba(0,0,0,.1);
    padding-top: 20px;
    padding-bottom: 20px;
}

.facilities_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
}
.facilities_card_thumb{
    overflow: hidden;
    height: 300px;
}

.facilities_card:hover .facilities_img{
    transform: scale(1.1);
}

.facilities_con_card_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 18px;
    grid-column-gap: 18px;
    margin-top: 18px;
}

@media screen and (max-width: 1024px) and (min-width:1024px) {
    /**about block**/
    .about_con .left_side {
        padding-right: 50px;
    }
}


@media screen and (max-width: 768px){
    /**about block**/
    .about_block {
        padding-top: 70px;
        padding-bottom: 70px;
        overflow: hidden!important;
    }

    .about_con .left_side {
        width: 100%;
        position: relative;
        top: 0;
        padding-right: 0px;
    }

    .about_con .right_side {
        width: 100%;
        margin-top: 30px;
    }

    .about_con {
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        flex-direction: column;
    }

    .about_con .block_title {
        font-size: 30px;
        line-height: 45px;
    }

    /**facilities**/
    .facilities_con_card_grid {
        grid-template-columns: 1fr 1fr;
    }

    .facilities_con_grid {
        overflow: hidden;
    }

    .facilities_block {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

@media screen and (max-width: 600px){
    /**facilities**/
    .facilities_con_card_grid {
        grid-template-columns: 1fr;
    }
    .small_title {
        font-size: 22px;
    }
}