.green_color{
    color:#007f06;
}

.lightgreen_bg{
   background-color:#007f0696;
}

.mineshaft_color {
    color: #1f1f1f;
}

.lightblack_color{
    color: #1f1f1fd9;
}

.gray_bg{
    background-color: #fafafa;
}

.white_color{
    color: white;
}

.red_color{
    color: #d72813;
}

.red_bg{
    background-color: #d72813;
}